/*
 * Custom CSS for CS1951I
 */

body {
    width: 100%;
    height: 100%;
    font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 35px 0;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 15px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 17px;
        line-height: 1.6;
    }
}

blockquote, tagline {
    font-size: 1.1em;
    font-style: italic;
}

a {
    color: #ddd;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    font-style: italic;
    color: #fff;
}

ul {
    font-size: 1.12em;
    padding-left: 1.5em;
    line-height: 2.1;
}

/* Tables */
table {
    background-color: rgba(0,0,0, 0.1);
    font-size: 1.1em;
    margin-bottom: 40px;
}

tr:nth-child(2n+1) {
    background-color: rgba(0,0,0, .1);
}

th {
    height: 3.5em;
    background-color: rgba(0,0,0, 0.2);
    font-size: 1.05em;
}

td, th {
    padding: 8px 25px 8px 20px;
}

/* Responsiveness in tables */
@media only screen and (max-width: 990px), (min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr, tr th { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr:nth-child(n+2) { 
        padding-top: 12px; 
        padding-bottom: 12px; 
    }
    
    td { 
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%; 
    }
    
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    /* For tables that have assignments (projects & labs) */
    table.assignment td:nth-of-type(1):before { content: "Assignment"; }
    table.assignment td:nth-of-type(2):before { content: "Out"; }
    table.assignment td:nth-of-type(3):before { content: "Due"; }

    /* Makes sure empty cells won't have labels */
    table td:empty { display: none; }
}

/* Alternate background colors */
#course-info {
    background-color: #3aafa9;
}

#assignments {
    background-color: #2b7a78;
}

#git-guide {
    background-color: #07575b;
}

#staff {
    background-color: #17252a;
}

/* Custom section types */
.content-section:before {
    background-color: #111;
    background-color: rgba(0,0,0,0.1);
    height: 5px;
    width: 100%;
    left: 0;
    position: absolute;
    margin-top: -30px;
    margin-bottom: 30px;
    display: block;
}

.content-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.inset-box {
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.15);
    padding: 10px 10px 20px;
    margin-top: 20px;
    margin-bottom: -40px;
    background-color: #111;
    background-color: rgba(0, 0, 0, 0.2);
}

@media(min-width:768px) {
    .content-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .inset-box {
        padding: 20px 40px 40px;
        margin-top: 40px;
        margin-bottom: 0;
    }
    .content-section:before {
        margin-top: -60px;
        margin-bottom: 60px;
    }
}

footer {
    padding: 30px 0;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

.spacing {
    width:20px;
    display:inline-block;
}

.ta {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px; 
}

.ta p {
    text-align: center;
    margin-top: 6px; 
}

.ta div {
    background-size: 200px 200px;
    width: 200px;
    height: 200px; 
}

 .ta div#ugur {
    background-image: url("../img/characters/ugur-char.jpg"); 
}

.ta div#ugur:hover {
    background-image: url("../img/ugur.jpg"); 
}

.ta div#nramoji {
    background-image: url("../img/characters/nramoji-char.jpg"); 
}

.ta div#nramoji:hover {
    background-image: url("../img/nramoji.jpg"); 
}

.ta div#ejiang1 {
    background-image: url("../img/characters/ejiang1-char.jpg"); 
}

.ta div#ejiang1:hover {
    background-image: url("../img/ejiang1.jpg");
}

.ta div#sp85 {
    background-image: url("../img/characters/sp85-char.jpg"); 
}

.ta div#sp85:hover {
    background-image: url("../img/sp85.jpg");
} 

/* Navbar */

.navbar-custom {
    margin-bottom: 0;
    font-size: 0.9em;
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -o-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    color: #eee;
    color: rgba(255, 255, 255, .8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    background-color: transparent;
}

.navbar-custom .nav li.active a {
    background-color: #eee;
    background-color: rgba(255, 255, 255, .15);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 8px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        -o-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
				background-color: #76767C;
    }
}

@media(max-width:768px) {
    .navbar-custom {
        background-color: rgba(155, 155, 160, 0.96);
    }
}

footer {
	width: 100%;
	
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    background: url(../img/characters/zootopia.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
		padding-bottom: 50px;
		padding-top:50px;
		background-color: rgba(0,0,0,.5);
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 100px;
    }
    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255, 255, 255, .2);
}

.note {
    font-size: 10pt;
}
